<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ronetz.eschool" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>eSchool</name>
    <description>
    	eSchool for Parents
    </description>
    <author email="graham@e-school.asia" href="http://e-school.asia">
    	Ronetz Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <allow-navigation href="http://android.e-school.asia/*" />
</widget>
